{% extends 'base.html.twig' %}

{% block title %}New Ardoise{% endblock %}

{% block body %}
    <h1>Create new Ardoise</h1>

    {{ include('ardoise/_form.html.twig') }}

    <a href="{{ path('app_ardoise_index') }}">back to list</a>
{% endblock %}
